@media only screen and (min-width: 100px) {

.MuiTableCell-root.MuiTableCell-head{
    text-align: center;
    height:10px;
}
.MuiTableBody-root.MuiTableRow-root{
    height:100px;

}
.MuiTableRow-root .MuiTableCell-root.MuiTableCell-body{
  text-align: center;
  padding:10px;
}
.MuiTableRow-root:hover{
    box-shadow:2px 2px 3px rgba(204, 204, 204, 0.9);
    background:rgba(231, 231, 231, 0.3); 
}
.book_img{
    width:90px;
    height:100px;
}
.book_result th.MuiTableCell-root.MuiTableCell-head{
    height:5px;
    padding:8px;
    font-size:9pt;
    background: rgba(168, 168, 168, 0.1);
    border-top:1px solid rgba(168, 168, 168, 0.2);
    
}



}
@media only screen and (min-width: 1609px) {
    .book_result table.MuiTable-root{
        width:114rem;
    }
}