@media only screen and (min-width: 100px) {
.Aladin{
    width:50px;
    height:50px;
}
.Kyobo{
    width:50px;
    height:50px;
}
.Interpark{
    width:50px;
    height:50px;
}
.Yes{
    width:50px;
    height:50px;
}
.eleven{
    width:50px;
    height:50px;
}
.book_info_view tr.MuiTableRow-root.head.MuiTableRow-head{
    height:5px;
    
}
.book_info_view th.MuiTableCell-root.MuiTableCell-head{
    height:5px;
    padding:8px;
    font-size:9pt;
    background: rgba(168, 168, 168, 0.1);
    border-top:1px solid rgba(168, 168, 168, 0.2);
    
}
.book_info_view table.MuiTable-root{
    width:94.5rem;
    margin-left:8px;
}
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded{
    width:1520px;
}
.book_info_view th.MuiTableCell-root.MuiTableCell-head.url{
    width:1000px;
}
.add{
    outline:0px;
    color:rgba(49,49,49,0.9);
    background:transparent;
    border:0px;
    cursor:pointer;

}
}
@media only screen and (min-width: 1609px) {
    .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded{
        width:116.5rem;
    }
    .book_info_view table.MuiTable-root{
        width:115.8rem;
        margin-left:8px;
    }
}
