
@media only screen and (min-width: 100px) {
  .Logo{
      position: absolute;
      margin-top:155px;
      margin-left:50%;
      left:-245px;
      font-size: 23pt;
      font-family: "Arial Rounded MT";
      letter-spacing: 10px;
  
  }
  .header_Logo{
      position: absolute;
      margin-top: 7px;
      margin-left: 30px;
      letter-spacing: 2px;
  }
  }
  @media only screen and (min-width: 1600px) {
      .Logo{
          position: absolute;
          margin-top:20rem;
          margin-left:50%;
          left:-18rem;
          font-size: 30pt;
          font-family: "Arial Rounded MT";
          letter-spacing: 10px;
      
      }
      .header_Logo{
          position: absolute;
          margin-top: 10px;
          margin-left: 45px;
          font-size: 15pt;
          letter-spacing: 2px;
      }
  
  }
  